:root {
  // basis
  --page-text-color: #000000;
  --page-background-color: #ededed;
  --outline: 2px solid #00adf7da;
  --selection-background-color: #00adf7da;
  --selection-text-color: #000000;

  // mica
  --mica-background-color: #ffffff;
  --mica-safari-background-color: #ffffffcc;

  // index
  --index-background-color: #ffffff;
  --detail-container-background-color: #ffffff;

  // index header
  --index-header-icon-background-color: #ffffff;
  --index-header-text-color: #000000;

  // preview card
  --preview-card-box-shadow: 0 4px 8px #00000033;
}