:root {
  // basis
  --page-text-color: #000000;
  --page-background-color: #ededed;
  --outline: 2px solid #00adf7da;
  --selection-background-color: #00adf7da;
  --selection-text-color: #000000;

  // mica
  --mica-background-color: #ffffff;

  // index
  --index-background-color: #ffffff;
  --detail-container-background-color: #ffffff;

  // index header
  --index-header-icon-background-color: #ffffff;
  --index-header-text-color: #000000;

  // preview card
  --preview-card-box-shadow: 0 4px 8px #00000033;

  --header-liquid-background-color-0: #f6f6f6eb;
  --header-liquid-background-color-1: #F6F6F600;

  --text-secondary: #333333;
  --text-ultra-secondary: #555555;

  --light: #ffffffff;
  --light-90: #ffffffe6;
  --light-80: #ffffffe6;
  --light-70: #ffffffb3;
  --light-60: #ffffff99;
  --light-50: #ffffff80;
  --light-40: #ffffff66;
  --light-30: #ffffff4d;
  --light-20: #ffffff33;
  --light-10: #ffffff1a;

  --dark: #000000ff;
  --dark-90: #000000e6;
  --dark-80: #000000cc;
  --dark-70: #000000b3;
  --dark-60: #00000099;
  --dark-50: #00000080;
  --dark-40: #00000066;
  --dark-30: #0000004d;
  --dark-20: #00000033;
  --dark-10: #0000001a;
}